.thankyou {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading {
        font-size: 4rem;
    }
    i {
        font-size: 10rem;
        color: green;
    }
    .second {
        font-size: 2rem;
    }
    .text {
        font-size: 1.2rem;
    }
    .backlink {
        text-decoration: none;
        color: var(--clr-blue-lg);
    }
    .backlink:hover {
        text-decoration: underline;
    }
}