@import 'header';
@import 'main';
@import 'media-queries';
@import 'keyframes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {

    --clr-dark: #050a0d;
    --clr-white: rgb(247, 244, 234);
    --clr-dark-scnd: #ffffff;
    --clr-blue-lg: rgb(136, 160, 240);
    --clr-blue-dk: rgb(61, 93, 196);

}