@import 'header';
@import 'main';
@import 'media-queries';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
}


:root {

    --clr-dark: #050a0d;
    --clr-white: rgb(250, 245, 230);
    --clr-blue-lg: rgb(136, 160, 240);
    --clr-blue-dk: rgb(61, 93, 196);

}