@import "header";
@import "footer";
@import "thankyou";
@import "main";
@import "media-queries";
@import "keyframes";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ruda", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.firstBody {
    background-color: var(--clr-dark);
}

:root {
    --clr-dark: #050a0d;
    --clr-white: rgb(247, 244, 234);
    --clr-dark-scnd: #ffffff;
    --clr-blue-lg: rgb(124, 116, 245);
    --clr-blue-dk: rgb(81, 61, 196);
}
